html {
  scroll-behavior: smooth;
}

.wmde-markdown {
  background-color: transparent !important
}

.w-md-editor-toolbar {
  background-color: var(--mantine-color-dark-8) !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  border-bottom: 1px solid var(--mantine-color-dark-4) !important;
  padding-bottom: 0.2em !important;
  margin-top: 2em !important;
  margin-bottom: 1em !important;
}

.markdown-body h2:first-of-type {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}